/* From Uiverse.io by rmdhnkhsn */
            .card-card {
                position: relative;
                display: flex;
                padding: 42px 32px;
                flex-direction: column;
                border-radius: 30px;
                border: 2px solid #000000;
                background: #fff;
                transition: 1s all;
                text-decoration: none;
            }

            .title-card {
                color: #072713;
                text-align: center;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: 35.196px;
                transition: 0.4s all;
            }

            .subtitle-card {
                color: #7e8882;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                transition: 0.4s all;
            }

            .icon-circle-card {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                background: #e5f6eb;
            }

            .card-card:hover {
                background: #23c55e;
                transition: 0.4s all;
            }

            .card-card:hover .title-card,
            .card-card:hover .subtitle-card {
                color: #fff;
                transition: 0.4s all;
            }

            .btnRound-card {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                padding: 6px 28px;
                border-radius: 100px;
                border: 1px solid #23c55e;
                background: #fff;
                transition: all 0.2s ease;
            }

            .btnRound-card:hover {
                box-shadow: 0px 0.5rem 5px #1a8f45;
                transition: all 0.2s ease;
            }